/*------------- Height --------------*/
@media (min-height: 350px){
	.logobottom{
		position: absolute;
		bottom: 15px;
		display: block;
		width: 100%;
		text-align: center;
		font-size: 2em;
		color: #ccc;
	}
}
@media (min-height: 435px){
	.navitem{
		height: 74px;
		line-height: 74px;
		border-bottom: 1px solid #222;
	}
}

@media (min-height: 560px){
	.navitem{
		height: 99px;
		line-height: 99px;
		border-bottom: 1px solid #222;
	}
}

/*------------- Width --------------*/

@media (min-width: 750px){
}

@media (min-width: 900px){
	.content-wrapper{
		display: block;
	}
	.content{
		max-width: 40em;
		padding: 0 1.5em;
		margin: 0 auto;
	}
	.sidebar-wrapper{
		width: 350px;
		float: left;
		margin-left: 0;
	}
}

@media (min-width: 1500px){
	.sidebar-wrapper{
		width: 740px;
		float: left;
		margin-left: 0;
	}
	.content-wrapper{
		margin-left: 800px;
	}
}