@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
	height: 100%;
	width: 100%;
}

body{
	background: #f1f1f1;
	border: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 1.625em;
}

/*------------- Typografie --------------*/

a{
	color: #2c5c9c;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Open Sans Condensed";
}

h1{

}

h2{
	font-size: 36px;
	font-size: 2.25rem;
}

h3{
	font-size: 14px;
	font-size: .875rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #6e6e6e;
}

h4{

}

h5{

}

h6{
	font-size: 14px;
	font-size: .875rem;
	letter-spacing: 2px;
	color: #c5c5c5;
}

.dashed:before{
	font-family: "Open Sans Condensed";
	font-weight: 700;
	content: "/";
	color: #c5c5c5;
	margin-left: -.2em;
}

/*------------- NAV --------------*/
header{
	width: 100px;
	height: 100%;
	overflow: auto;
	float: left;
	background: #111;
	background: url("images/broken_noise.png");
	position: relative;
}

.nav{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.navitem{
	color: #ccc;
	font-size: 1.7em;
	height: 49px;
	line-height: 49px;
	border-bottom: 1px solid #222;
}

.navitem a{
	color: inherit;
	text-decoration: none;
}

.active{
	color: #1b395f;
}

.logobottom{
	display: none;
}


/*------------- SubNAV --------------*/
.sidebar-wrapper{
	background: url("images/low_contrast_linen.png");
	height: 100%;
	margin-left: 100px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-box-shadow: inset 0 0 15px 2px #000;
  box-shadow: inset 0 0 15px 2px #000;
}

.sidebar{
	padding: 1em 15px;
}

.subnav{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.subnavitem{
	display: inline-block;
	width: 100%;
	max-width: 320px;
	height: 190px;
	margin: 0 15px 15px 0;
	padding: 10px;
	background: #f8f8f8;
	text-align: left;
}

.subnavitem:nth-child(2n){
	margin-right: 0px;
}

.subnavitemimg{
	width: 100%;
	height: 120px;
}

.subnavitemtext{
	font-family: "Open Sans Condensed";
	font-weight: 700;
	font-size: 1.25rem;
	*font-size: 20px;
}

/*------------- CONTENT --------------*/
.content-wrapper{
	display: none;
	overflow: auto;
	margin-left: 450px;
	height: 100%;
	margin: 0;
	padding: 0;
}

iframe{
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	margin-bottom: -10px;
}

/*------------- ICONFONT --------------*/
@font-face {
  font-family: 'entypo_mine';
  src: url("font/entypo_mine.eot?73975351");
  src: url("font/entypo_mine.eot?73975351#iefix") format('embedded-opentype'), url("font/entypo_mine.woff?73975351") format('woff'), url("font/entypo_mine.ttf?73975351") format('truetype'), url("font/entypo_mine.svg?73975351#entypo_mine") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo_mine';
    src: url('font/entypo_mine.svg?73975351#entypo_mine') format('svg');
  }
}
*/

[data-icon]:before {
  font-family: entypo_mine;
  content: attr(data-icon);
  speak: none; /* Not to be trusted, but hey. */
	-webkit-font-smoothing: antialiased;
}

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/*------------- scrollbar --------------*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.2);
}

::-webkit-scrollbar-thumb {
   background: rgba(0,0,0,0.5);
}
